@model UpsertEstateVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Estate.Id" hidden />
    @if (Model.Estate.Id is not null)
    {
        <input asp-for="Estate.Country" hidden />
        <input asp-for="Estate.City" hidden />
        <input asp-for="Estate.PostalCode" hidden />
        <input asp-for="Estate.StreetName" hidden />
        <input asp-for="Estate.PropertyNumber" hidden />
    }

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Estate.Id is not null ? "Update" : "Create") Estate</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Estate.PropertyName"></label>
                    <input asp-for="Estate.PropertyName" class="form-control" />
                    <span asp-validation-for="Estate.PropertyName" class="text-danger"></span>
                </div>

@*                 <div class="mb-3">
                    <label asp-for="Estate.Description"></label>
                    <textarea asp-for="Estate.Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Estate.Description" class="text-danger"></span>
                </div> *@

                <div class="mb-3 col-6">
                    <label asp-for="Estate.EstateType"></label>
                    <select asp-for="Estate.EstateType" asp-items="@Model.EstateType" class="form-select">
                        <option disabled selected>--Select Estate Type--</option>
                    </select>
                    <span asp-validation-for="Estate.EstateType" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Estate.CostPerDay"></label>
                    <input asp-for="Estate.CostPerDay" class="form-control" />
                    <span asp-validation-for="Estate.CostPerDay" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Estate.ImageUrls"></label>
                    <input id="uploadBox" type="file" name="estateImages" class="form-control" multiple accept="image/*" onchange="displaySelectedFiles(event)" /> @* onchange="displaySelectedFiles(event)" *@
                </div>
                <div id="imagePreview"></div>

                @if (Model.Estate.Id is null)
                {
                    <div class="mb-3 col-3">
                        <label asp-for="Estate.Country"></label>
                        <input asp-for="Estate.Country" class="form-control" />
                        <span asp-validation-for="Estate.Country" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3">
                        <label asp-for="Estate.City"></label>
                        <input asp-for="Estate.City" class="form-control" />
                        <span asp-validation-for="Estate.City" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3">
                        <label asp-for="Estate.PostalCode"></label>
                        <input asp-for="Estate.PostalCode" class="form-control" />
                        <span asp-validation-for="Estate.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Estate.StreetName"></label>
                        <input asp-for="Estate.StreetName" class="form-control" />
                        <span asp-validation-for="Estate.StreetName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3">
                        <label asp-for="Estate.PropertyNumber"></label>
                        <input asp-for="Estate.PropertyNumber" class="form-control" />
                        <span asp-validation-for="Estate.PropertyNumber" class="text-danger"></span>
                    </div>

                }

                <div class="col-12">
                    @if (Model.Estate.Id is not null)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }

                    <a asp-controller="Estate" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to list
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/tinymce.js"></script>
    <script src="~/js/upsertEstateImages.js"></script>

    <script>
        // SweetAlerts setup
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                    footer: '<a href="">Why do I have this issue?</a>'
                });
                return false;
            }
            return true;
        }
    </script>
}